body { /* Aplica a todo el body*/
    background-color: orangered;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3D3C42;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

.menu-item {
    display: grid;
    justify-content: center;
    width: 100%;
    margin-top: 1%;
    height: 2rem;
    border-radius: 10px;
    max-width: 100%;
    background-image: none;
    grid-template-columns: repeat(4,1fr);
}

.menu-item:hover {
    color: #3D3C42;
    background-color: #c19a79a5;
}

/*
Esta clase permite centrar verticalmente los items en el div, tener en cuenta que si aumenta el alto del div contenedor,
el line-height ac� tambi�n deber�a aumentar al mismo valor.
*/
.item {
    vertical-align: middle;
    line-height: 2rem; 
}
span{
    display: block;

}
#lista-menu {
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: auto; /* con esto se logra que este centrado horizontalmente */
    width: 80%;
    font-size: 17px;
    font-weight: 600;
}